@charset "UTF-9";

*{
    margin: 0;
    padding: 0;
}
 /* O probelma está na barra de navegação*/
@media (max-width: 777px) {
    body {
        background-color: white;
    }
    /* Configurações do header*/
    header#topo  {
        display: flex ;
        background-color: #000000;
        padding: 15px;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    span > img {
        padding-left: 0;
    }
    nav {
        display: none;
    }
    /*Configuração da navegação para celular*/
    nav#nav_celular {
        display: flex;
        flex-direction: column;
    }
    #nav_btn{
        display: flex;
        background-color: transparent;
        flex-direction: column;
        align-items: flex-end;
        cursor: pointer;
    }
    #nav_btn > div {
        display: none;
    }
    #nav_btn:hover > div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
    #nav_btn > div > a {
        color: white;
        text-decoration: none;
        font: normal normal 1em var(--font_bold)
    }
    span.listra {
        display: flex;
        background-color: white;
        width: 25px;
        height: 5px;
        margin-bottom: 5px;
    }
    /*Configurações das promoções*/
    section#promo {
        background-color: #f037a5;
        padding: 50px 0 20px 20px;
        text-align: center;
    }
    #promo > h1, #promo > p, #promo > a {
        color: white;
        padding: 25px 10px;
    }
    #promo > h1 {
        font: normal bold 2.3em var(--font_bold);
    }
    #promo > p  {
        color: white;
        font-size: 1.4em;
        font-weight: bold;
    }
    #promo  p > a {
        color: white;
        font-size: 0.9em;
    }
    /* Configurações botões promoção*/
    div#btns {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px 0 10px 10px;
    }
    button.btn {
        padding: 20px 35px;
        border-radius: 30px;
        font-family: var(--font_bold);
        cursor: pointer;
        margin-left: 340px;
    }
    button#btn_comece {
        background-color: #131313fd;
        color: #ffffffe8;
        text-transform: uppercase;
        outline: 0;
        border: 1px solid black;

    }
    #btn_comece:hover {
        background-color: #000000;
        color: #ffffff;
        transform: scale(105%);
    }
    button#btn_planos {
        background-color: transparent;
        padding: 19px 35px;
        text-transform: uppercase;
        border: 2px solid #ffffff;
    }
    #btn_planos:hover {
        background-color: #ffffff21;
        transform: scale(105%);
    }
    /*Configurações do conteúdo premium*/
    section#premium {
        text-align: center;
    }
    section#premium h1{
        font: normal normal 2.4em var(--font_bold);
        margin: 50px 0 50px 0;
    }
    ul#premium_list {
        list-style: none;
        display: flex;
        margin-bottom: 50px;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
    ul#premium_list > li {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    #premium_list > li > p {
        padding: 20px 0 20px 0;
        text-align: center;
    }
    /*Configurações  planos mensais*/
    section#plano {
        background-color: #efefef;
        padding: 50px;
    }
    #baixo {
        text-align: center;
    }
    #baixo > h1, #baixo > p {
        padding-bottom: 10px;
    }
    ul#bandeiras_cartao {
        display: flex;
        padding: 1px 0 10px 0;
        margin-bottom: 40px;
        gap: 3px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        list-style: none;
        list-style-position: inside;
    }
    #veja-mais > div {
        background-color: white;
        display: none;
        width: 80px;
        height: 100px;
    }
    #veja-mais:hover > div {
        display: block;
    }
    /*Configurações box dos planos*/
    section#planos_mensais {
        display: flex;
        margin-top: -30px;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        gap: 3px;
    }
    div.box_planos {
        display: flex;
        background-color: #ffffff;
        width: 200px;
        height: 620px;
        padding: 20px;
        flex-direction: column;
        border-radius: 15px;
        box-shadow: 4px 4px 5px #00000050;
    }
    ul {
        list-style: none;
        list-style-position: inside;
    }
    .box_blue {
        background-color: #2e77d0;
        color: #ffffff;
        padding: 10px;
        margin-bottom: 10px;
        font: normal bold 0.86em var(--font_bold);
        text-align: left;
        border-radius: 10px;
    }
    .box_white {
        background-color: transparent;
        color: #2e77d0;
        width: 150px;
        padding: 8px 8px;
        margin-bottom: 10px;
        font: normal bold 0.86em var(--font_bold);
        text-align: left;
        border: 1px solid #2e77d0;
        border-radius: 10px;
    }
    section#planos_mensais h3 {
        font-size: 1.5em;
        font-weight: bolder;
        margin-bottom: 8px;
    }

    ul.ofertas > li {
        margin-bottom: 5px;
    }
    .btn_agora {
        background-color: #131313fd;
        color: #ffffffe8;
        width: 190px;
        padding: 10px 20px;
        margin: 90px auto 8px auto;
        font: normal normal 0.97em var(--font_bold);
        text-transform: uppercase;
        outline: 0;
        border: 1px solid black;
        border-radius: 30px;
        cursor: pointer;
    }
    .btn_agora:hover {
        background-color: #000000;
        color: #ffffff;
        transform: scale(105%);
    }
    #btn_second {
        margin-top: 135px;
    }
    #btn_last {
        margin-top: 15px;
    }
    .box_planos a {
        color: black;
    }
}