* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
}
:root {
    /* Colors*/
    --black-black: #000 ;
    --black-color: #1A1B1A;
    --yellow-color: #FFDD00;
    --orange-color: #FF8200;
    --orange-color-2: #ff9b33;
    --white-color: #fff ;
    --grey-color: #E5E5E5;
    --strong-grey-color: #4a4b4a;
    /* Fonts*/
    --font: 'Montserrat', sans-serif;
}

/* Media query tela 988px*/
@media (max-width:988px) {
    /*nav cell 99*/
    #header-cell {
        background-color: var(--white-color);
        display: flex;
        justify-content: center;
        z-index: 100;
        position: fixed;
        width: 99vw;
        padding: 8px 0 15px 30px;
        gap: 20px;;
    }

    #nav-cell {
        display: flex;
        position: absolute;
        right: 0;
        padding: 10px 15px;
    }
    #btn-nav {
        background-color: transparent;
        padding: 5px;
        border: 0;
        cursor: pointer;
    }
    /* class pro JS*/
    #nav-itens.navClass {
        display: flex;
        position: relative;
        width: 100vw;
        height: 100vh;
        background-color: var(--white-color);
        color: var(--black-black);
        padding: 15px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 15px;
        top: 58px;

    }
    #nav-itens {
        display: none;
    }
    #nav-itens > a, button {
        color: var(--black-color);
        font-size: 0.88em;
        font-weight: 600;
        text-decoration: none;
    }
    #nav-itens  button {
        background-color: transparent;
        padding: 15px;
        border: 2px solid black;
        border-radius: 30px;
    }
    #header-navbar{
        display: none;
    }
    /* Conta com a 99*/
    #box-quero-ser-motorista {
        display: flex;
        padding: 80px 0 150px 0;
        flex-direction: column;
        align-items: center;
    }
    #box-amarela {
        display: flex;
        background-color: var(--yellow-color);
        width: 350px;
        height: 400px;
        padding: 90px 0 0 25px;
        margin-top: 300px;
        border-radius: 15px;
    }
    /* config pra seta ficar sob a box amarela*/
    #box-quero-ser-motorista span {
        position: relative;
        top: 320px;
        left: -120px;
    }
    /*seção segurança até seu destino*/
    #container-segurança {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 80px 0 150px 0;
        gap: 10px;
    }
    #box-laranja {
        display: flex;
        background-color: var(--orange-color);
        width: 360px;
        padding: 230px 25px 25px 25px;
        border-radius: 20px;
        flex-direction: column;
        gap: 20px;
    }
    /* Seja motorista da 99*/
    #seja-motorista-container {
        display: flex;
        padding: 90px 25px 90px 25px;
        justify-content: center;
        align-items: center;
        gap: 20px;
        flex-direction: column;
    }
    #seja-motorista-box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #box-seja-motorista {
        display: flex;
        background-color: var(--white-color);
        width: 300px;
        padding: 68px 0 50px 25px;
        border-radius: 20px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #btn-quero-ser-motorista-2 button {
        width: 320px;
        padding: 30px;
        top: 15px;
        margin-bottom: 15px;
    }
    /*incentivos 99 para motoristas parceiros*/
    #incentivos-motorista h1 {
        color: var(--black-color);
        font-size: 2em;
        font-weight: 900;
        text-align: center;
    }
    /* seção 99app*/
    #baixar-99-app {
        display: flex;
        background-color: var(--yellow-color);
        padding: 50px 0;
        margin-top: 35px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #baixar-99-app > #img-box {
        z-index: 1;
        margin-bottom: -200px;
    }
    #info-app-99 {
        display: flex;
        z-index: 0;
        background-color: var(--white-color);
        width: 456px;
        padding: 190px 35px 50px 35px;
        border-radius: 20px;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    /* 99 para empresas*/
    #para-empresas {
        display: flex;
        background-color: var(--grey-color);
        padding: 90px 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 25px;
    }
    #container-99-empresa {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    /* blog 99*/
    #blog-container {
        display: flex;
        padding: 50px 0;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 45px;
    }
    #aside-motos {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 10px;
    }
    .motorista {
        width: 98vw;
        padding: 0 15px;
        border-top: 2px solid var(--grey-color);
        text-align: left;
    }
    .motorista:last-child {
        border-bottom: 2px solid var(--grey-color);
    }
    /* newsroom 99*/
    #newsroom-container {
        display: flex;
        padding: 60px 0;
        justify-content: center;
        gap: 20px;
    }
    .img-newsroom {
        width: 230px;
    }
    .img-newsroom > img:first-child {
        padding-left: 10px;
    }
    .descricao-posts > p {
        color: var(--black-black);
        font-size: 1.1em;
        font-weight: 700;
        text-align: left;
        text-align: left;
    }
    .descricao-posts {
        padding: 10px 0 0 30px;
    }
    /* ultima seção */
    #ultima-seçao {
        display: flex;
        background-color: var(--yellow-color);
        padding: 65px 0;
        justify-content: space-around;
        align-items: center;
        gap: 15px;
    }
    #ultima-seçao > h1 {
        color: var(--black-black);
        font-size: 2.1em;
        font-weight: 800;
    }
    #ultima-seçao button {
        width: 300px;
        height: 65px;
        font-size: 1em;
        font-weight: 800;
    }
}